.slick-prev {
  left: 3% !important;
  color: #fff !important;
  /* background-color: #000 !important; */
  z-index: 11;
}
.slick-next {
  right: 3% !important;
  color: #fff !important;
  /* background-color: #000 !important; */
  z-index: 11;
}
